# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build
dist/
build/
out/
.next/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Scripts
tmp/
describe_schema.js
