E2E_BASE_URL=http://localhost:5173
E2E_USERNAME=admin@contemosjuntos.org
E2E_PASSWORD=change_me
E2E_BRAVE_BINARY=C:/Program Files/BraveSoftware/Brave-Browser/Application/brave.exe
E2E_HEADLESS=false
E2E_ALLOW_WRITES=false
